# Python + Jupyter junk
__pycache__/
*.pkl
.env
.ipynb_checkpoints/

# Ignore everything under data/
data/**

# EXCEPT DVC cache and DVC tracking files
!data/.dvc/
!data/.dvc/**
!data/**/*.dvc
!data/.gitkeep
